<header>
  <nav class="nav">
    <div class="navContainer">
      <!-- Logo o imagen del sitio -->
      <div class="logo">
        <img src="https://gosyx.github.io/hanasitart.github.io/img/logazo.png" alt="Logo del sitio" />
      </div>

      <!-- Men煤 de navegaci贸n para la versi贸n de escritorio -->
      <div class="menu">
        <a href="/" class="menu-item">Inicio</a>
        <a href="/productos" class="menu-item">Productos</a>
        <a href="/contacto" class="menu-item">Contacto</a>
        <!-- Otros elementos del men煤 seg煤n tu aplicaci贸n -->
      </div>

      <!-- cono del carrito de compras (si aplica) -->
      <div class="carrito">
        <a href="/cart">
          <ion-icon name="cart-outline"></ion-icon>
          <div class="cant-carrito-total">0</div>
        </a>
      </div>
    </div>
  </nav>

  <!-- Men煤 de navegaci贸n para la versi贸n m贸vil -->
  <nav class="nav-mobile">
    <div class="nav-mobile-container">
      <a href="/" class="nav-mobile-item">Inicio</a>
      <a href="/productos" class="nav-mobile-item">Productos</a>
      <a href="/contacto" class="nav-mobile-item">Contacto</a>
      <!-- Otros elementos del men煤 seg煤n tu aplicaci贸n -->
    </div>
  </nav>

  <!-- Contenido del carrito de compras en versi贸n modal (si aplica) -->
  <div class="modal-carrito" id="modal-carrito">
    <!-- ... (contenido del carrito de compras) ... -->
  </div>
</header>
